/*
	Main deep blue: rgb(5, 1, 74)
		-Navbar Translucent blue: rgba(5, 1, 74, 0.9)

	Headings: #4962f5
	Heading descriptions: rgba(255, 255, 255, 0.7)

	Timeline school icons: #40e0d0
	Timeline school darker: #1ba799
	Timeline work icons: #87bbfe
	Timeline work darker: #555ac0
*/

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	background-color: rgb(5, 4, 27);
}

body::-webkit-scrollbar-track {
	background: linear-gradient(rgb(6, 1, 95), rgb(3, 6, 22)) no-repeat;
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(15, 19, 228);
}

@media (pointer:none),
(pointer:coarse) {
	body {
		background-color: #081663;
		background-image: none;
		background: linear-gradient(147deg, #020105 20%, #10062c 100%) center center no-repeat !important;
		background-attachment: scroll;
	}
	#cover {
		background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../images/header-img.jpg') no-repeat center center;
		background-size: cover;
	}
}

body {
	font-family: 'Poppins','Fira Sans', sans-serif;
	background-color: #0d3f81;
	background-image: linear-gradient(147deg, #000000 60%, #110733 150%);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/header-img.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* PARALLAX EFFECT */
}

nav {
	position: fixed;
	top: 1px !important
}

.logo-text {
	font-size: 2rem;
}

a.nav-link {
	font-size: 1.5rem;
	margin: 0 0.8rem;
}

.navbar {
	background-color: rgba(5, 1, 74, 0.9) !important;
	/* width: 100% */
}

.navbar-brand {
 position: relative;
}


.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 5px solid;
	border-radius: 10px;
  margin-top: 15px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


.bounce-logo {
	cursor: grab;
	z-index: 100;
}

section {
	overflow: hidden;
}

.card {
	padding: 1rem;
	background-color: rgba(5, 1, 74, 0.7) !important;

}

.active {
	color: white !important;
	background-color: transparent !important;
}

#cover {
	/* background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../images/header-img.jpg') no-repeat center center;
	background-size: cover;

  UNCOMMENT THIS CODE FOR NON PARALLAX */
	height: 100vh;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

section:not(#cover) {
	margin-top: 5rem;
}

h1 {
	color: white;
}

#about img {
	max-height: 300px;
}

#about {
	color: white;
}

#about p {
	font-size: 1.1rem;
}

.about-pfp {
	border-radius: 5px;
	border: 8px solid rgba(5, 1, 74, 0.8);
}

.about-describe {
	color: rgba(255, 255, 255, 0.7);
}

.description {
	color: #4962f5;
}

.spacer {
	height: 10rem;
}

.card img {
	max-width: 400px;
	border: 5px solid grey;
}


.card-title {
	color: rgba(73, 98, 245);
	font-weight: bolder;
}


@media (max-width: 992px)
{
    .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
    }
}

@media (max-width: 768px)
{
    .card-columns {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    }
}

span.project-title {
	color: rgb(62, 89, 240);
}

label {
	color: white;
}

#message {
	min-height: 150px;
	resize: none;
}

.submit {
	margin: 1rem auto 0 auto;
	text-align: center;
	border: 2px solid #16098d;
	border-radius: 20px;
	min-width: 200px;
	font-size: 1.4rem;
	color: #6b80f8;
	padding: 0.5rem 1rem 0.5rem 1rem;
	letter-spacing: 2px;
	transition: all .25s;
}

.submit:hover,
.learn-more:hover {
	background-color: #1d055283;
	color: rgb(211, 235, 255);
	letter-spacing: 5px;
}

.learn-more {
	text-align: center;
	color: #6b80f8;
	border: 2px solid #16098d;
	border-radius: 20px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	letter-spacing: 2px;
	transition: all .25s;
}

#socials a {
	margin: 0 0.2rem;
	color: white;
}

hr {
	height: 1px;
	background-color: #162788;
	border: none;
}

@media (max-width: 576px) {
	#cover h1 {
		font-size: 3rem;
	}
}

.footer-lead {
	color: #435add;
}

#copyright {
	text-decoration: none;
	color: #435add;
}

.form-control {
	border-radius: 5px;
	background-color: rgba(5, 1, 74, 0.5);
	border-color: #353A3F;
	color: white;
}

.form-control:focus {
	background-color: rgba(5, 1, 74, 0.8);
	color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-box-shadow: 0 0 0px 1000px rgba(5, 1, 74, 0.8) inset;
	-webkit-text-fill-color: white;
}

#home,
#mail,
#phone {
	color: #4962f5;
	margin-right: 0.5rem;
}

.no-underline:hover {
	text-decoration: none;
}

.useful-links {
	text-decoration: none !important;
  color: #dae3e9;
}

.social-href {
	text-decoration: none !important;
}

/* timeline css */

.timeline h2 {
  margin: 5%;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
}
.timeline__event {
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 6px;
  align-self: center;
  width: 50vw;
}
.timeline__event:nth-child(2n+1) {
  flex-direction: row-reverse;
}
.timeline__event:nth-child(2n+1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}
.timeline__event:nth-child(2n+1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}
.timeline__event:nth-child(2n+1) .timeline__event__icon:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #1832a5;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  -webkit-animation: fillTop 2s forwards 2s ease-in-out;
          animation: fillTop 2s forwards 2s ease-in-out;
}
.timeline__event:nth-child(2n+1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #40e0d0;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
}
.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #1ba799;
  letter-spacing: 1.5px;
}
.timeline__event__content {
  padding: 20px;
	padding-bottom: 0px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: rgb(5, 1, 74);
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
	color: white;
}
.timeline__event__date {
  color: #20cab9;
  font-size: 1.5rem;
  font-weight: 600;
  background: #555ac0af;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}
.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ba799;
  padding: 20px;
  align-self: center;
  margin: 0 20px;
  background: #2546b3;
  border-radius: 100%;
  width: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 40px;
  height: 40px;
  position: relative;
}
.timeline__event__icon i {
  font-size: 32px;
}
.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #40e0d0b2;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: fillTop 2s forwards 2s ease-in-out;
          animation: fillTop 2s forwards 2s ease-in-out;
}
.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #13a193de;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
}
.timeline__event__description {
  flex-basis: 60%;
}
.timeline__event--type2:after {
  background: #555ac091;
}
.timeline__event--type2 .timeline__event__date {
  color: #87bbfe;
  background: #555ac0af;
}
.timeline__event--type2:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n+1) .timeline__event__icon:after {
  background: #87bbfe;
}
.timeline__event--type2 .timeline__event__icon {
  background: #87bbfe;
  color: #555ac0;
}
.timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
  background: #87bbfe;
}
.timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}
.timeline__event--type3:after {
  background: #24b47e;
}
.timeline__event--type3 .timeline__event__date {
  color: #aff1b6;
  background-color: #24b47e;
}
.timeline__event--type3:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n+1) .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__icon {
  background: #aff1b6;
  color: #24b47e;
}
.timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}
/*counter-css*/
.head {
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  color:#fff;
}

.count {
  font-size: 15px;
  text-shadow: 1px 1px 10px black;
  text-align: center;
  color:#fff;
  font-weight: 500;
}

.counter {
  width:100%;
  height: 50px;
  padding: 2px;
  background: radial-gradient(circle, #0f356f, #071935) !important;
  z-index: 999;
}
/*counter-css*/
/*responsive-css*/
@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event__content {
    width: 100%;
  }
  .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline__event__icon:before, .timeline__event__icon:after {
    display: none;
  }
  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n+1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}
@-webkit-keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@-webkit-keyframes fillTop {
  100% {
    top: 100%;
  }
}
@keyframes fillTop {
  100% {
    top: 100%;
  }
}
@-webkit-keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}
@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

.timeline-link, .timeline-link:hover {
	color: #87bbfe;
	text-decoration: none;
}
.timeline-image {
	max-width: 70px;
}

@media (max-width: 786px) {
	.timeline__event {
	  width: 90%;
	}
}

#unc-logo {
	width: 50px;
}
